/* "We are the best in" */

#best {
  margin-top: 100px;
  margin-bottom: 30px;
}

.best_item {
  text-align: center;
  float: left;
  width: 33.33%;
  margin: auto;
}

.best_container {
  align-items: center;
  margin: 40px 50px 50px 50px;
}

.best_icon {
  height: 75px;
}

.best_item p {
  text-align: center;
  margin: 0px 40px 0px 40px;
}

@media (max-device-width: 700px) {
    .best_item {
        width: 100%;
        margin-bottom: 20px;
    }
}

.best_container:after {
    content: "";
    display: table;
    clear: both;
}

/* "Why Hedgehog Design?" */

#why_hedgehog {
  height: 400px;
  background-image: url("photos/why_hedgehog_background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#why_container {
  text-align: center;
  width: 40%;
  margin: auto;
  padding-top: 50px;
}

#why_container p {
  margin-top: 40px;
}

/* Bottom menu */

#bottom_menu {
  list-style-type: none;
  margin: 100px 0px 100px 0px;
  text-align: center;
}

#bottom_menu a {
  display: inline;
  margin: 20px;
  font-size: 1.1em;
  font-weight: bold;
}
