/* Top menu */

.chosen {
  color: #00B8CC;
  pointer-events: none;
  cursor: default;
}

/* Join us */

#career {
  margin-bottom: 100px;
}

.career_container {
  align-items: center;
  display: flex;
  margin: 20px 0px 50px 0px;
}

.career_item {
  text-align: center;
  display: inline-block;
  width: 90%;
  margin: auto;
}

.career_item p {
  text-align: center;
}
