/* Top menu */

.chosen {
  color: #00B8CC;
  pointer-events: none;
  cursor: default;
}

/* Know us */

#team {
  margin-bottom: 100px;
}

.team_container {
  align-items: center;
  margin: 40px 70px 50px 70px;
}

.team_item {
  text-align: center;
  float: left;
  width: 33.33%;
  margin: auto;
}

.team_photo {
  height: 250px;
}

.team_item p {
  text-align: center;
  margin: 0px 40px 0px 40px;
}

@media (max-device-width: 700px) {
    .team_item {
        width: 100%;
        margin-bottom: 20px;
    }
}

.team_container:after {
    content: "";
    display: table;
    clear: both;
}

/* Follow us */

#follow ul {
  text-align: center;
  padding: 0;
  margin-top: 40px;
}

.follow_container li {
  display: inline;
  margin: 0px 10px 0px 10px;
}

.follow_container svg:hover {
  fill: #00B8CC;
}
