/* Top menu */

.chosen {
  color: #00B8CC;
  pointer-events: none;
  cursor: default;
}

/* Find us */

#map {
  height: 300px;
  width: 100%;
  margin: 40px 0px 0px 0px;
}

.contact_container {
  margin: auto;
  margin-top: 40px;
  text-align: center;
  line-height: 200%;
}

#contact {
  margin-bottom: 100px;
}

#bold {
  font-weight: bold;
}
