/* Top menu */

.chosen {
  color: #00B8CC;
  pointer-events: none;
  cursor: default;
}

#blue:hover {
  color: #00B8CC;
}

/* Our offer */

#offer {
  margin-bottom: 30px;
}

.offer_item {
  text-align: center;
  float: left;
  width: 33.33%;
  margin: auto;
}

.offer_container {
  align-items: center;
  margin: 40px 70px 50px 70px;
}

.offer_photo {
  height: 250px;
}

.offer_item p {
  text-align: center;
  margin: 0px 40px 0px 40px;
}

@media (max-device-width: 700px) {
    .offer_item {
        width: 100%;
    }
}

.offer_container:after {
    content: "";
    display: table;
    clear: both;
}

.more {
  float: right;
  padding-top: 15px;
  font-variant: small-caps;
  font-weight: bold;
  color: rgb(179, 179, 179);
}

.more:hover {
  color: #00B8CC;
}
