/* Top menu */

.chosen {
  color: #00B8CC;
  pointer-events: none;
  cursor: default;
}

/* Web design */

.offer_branding_container {
  align-items: center;
  margin: 40px 50px 50px 50px;
}

.offer_branding_item {
  text-align: center;
  float: left;
  width: 33.33%;
  margin: auto;
}

.offer_branding_item p {
  text-align: center;
  margin: 0px 80px 0px 80px;
}

@media (max-device-width: 700px) {
  .offer_branding_item {
    width: 100%;
  }
}

.offer_branding_container:after {
  content: "";
  display: table;
  clear: both;
}

.more {
  float: right;
  padding-top: 15px;
  font-variant: small-caps;
  font-weight: bold;
  color: rgb(179, 179, 179);
}

.more:hover {
  color: #00B8CC;
}

/* See out portfolio */

.offer_portfolio {
  background-color: #00B8CC;
  color: white;
  padding: 15px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.offer_portfolio a {
  color: white;
}

.offer_portfolio a:hover {
  color: #dadada;
}

/* Modal box */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_content {
  background-color: white;
  margin: 15% auto;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  right: 10%;
  padding: 15px;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal_content img {
  width: 100%;
  display: block;
}

.my_btn {
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  font-variant: small-caps;
  cursor: pointer;
}

.middle {
  width: 90%;
}
