/* Top menu */

.chosen {
  color: #00B8CC;
  pointer-events: none;
  cursor: default;
}

/* Portfolio */

.portfolio_container {
  text-align: center;
  margin: 30px 50px 100px 50px;
}

#portfolio_web_design {
  margin-top: 40px;
}

.portfolio_item {
  position: relative;
  width: 300px;
  display: inline-block;
  margin: 0px 10px 0px 10px;
  border: 1px solid rgb(245, 245, 245);
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.portfolio_item:hover .image {
  opacity: 0.3;
}

.portfolio_item:hover .middle {
  opacity: 1;
}

@media (max-device-width: 700px) {
  .portfolio_item {
    width: 50%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .image {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Modal box */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_content {
  background-color: white;
  margin: 15% auto;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  right: 10%;
  padding: 15px;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal_content img {
  width: 100%;
  display: block;
}

.my_btn {
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  font-variant: small-caps;
  cursor: pointer;
}

.middle {
  width: 90%;
}
