body {
  margin-top: 100px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 150%;
}

h1, h2, h3 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  margin: 20px 0px 20px 0px;
}

a {
  text-decoration: none;
  color: black;
}

/* Fonts */

@font-face {
  font-family: "Oswald";
  src: url(fonts/Oswald-Bold.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.ttf);
}

/* Header */

header {
  margin-bottom: 150px;
  margin-top: 150px;
  text-align: center;
}

#logo {
  width: 100px;
}

/* Top menu */

#top_menu {
  list-style-type: none;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  font-variant: small-caps;
  font-size: 1.2em;
}

#top_menu a {
  display: inline;
  margin: 20px 30px 0px 30px;
}

.menu a {
  text-decoration: none;
  position: relative;
}

.menu a:hover {
  color: black;
}

.menu a:before {
  content: "";
  position: absolute;
  margin-bottom: 20px;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: #00B8CC;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.menu a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media (max-width: 700px) {
  #top_menu a {
    text-align: center;
    display: inline;
    margin: 10px;
  }
  #top_menu {
    padding: 0;
  }
}

/* Dropdown */

.dropdown {
  position: relative;
  display: inline-block;
}

#dropdown_content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  left: -50%;
  right: -50%;
}

#dropdown_content a:hover:before {
  visibility: hidden;
}

#dropdown_content a {
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

#dropdown_content a:hover {
  color: #00B8CC;
}

.dropdown:hover #dropdown_content {
  display: block;
}

/* Footer */

#footer {
  text-align: center;
  margin-top: 100px;
  font-size: 12px;
}
