/* Contact Form */

input[type=text] {
  width: 35%;
  min-width: 200px;
  padding: 6px;
  margin: 10px 5px 10px 65%;
  border: 1px solid #7b7b7b;
  border-radius: 4px;
  box-sizing: border-box;
  float: right;
}

textarea {
  min-height: 121px;
  width: 35%;
  min-width: 200px;
  padding: 6px;
  margin: 10px 65% 10px 5px;
  border: 1px solid #7b7b7b;
  border-radius: 4px;
  box-sizing: border-box;
  float: left;
  resize: vertical;
}

input[type=submit] {
  background-color: #00B8CC;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin: 0px 65% 0px 0px;
}

#form {
  width: 100%;
  align-items: center;
  margin-bottom: 60px;
}

.left_container {
  float: left;
  width: 50%;
  margin-top: 10px;
}

.right_container {
  float: right;
  width: 50%;
  margin-top: 10px;
}

@media (max-device-width: 700px) {
  .left_container, .right_container {
    width: 100%;
    margin: 0;
  }
  textarea, input[type=text], input[type=submit] {
    width: 50%;
    margin: 10px 25% 5px 25%;
  }
}

form:after {
  content: "";
  display: table;
  clear: both;
}
